body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.site-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
    padding: 20px;
    background-color: blue;
    text-align: center;
}

.site-header.scrolled {
    background-color: #151e27;
}

.site-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav li {
    display: inline;
}

.site-nav a {
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #151e27;
    font-weight: bold;
    transition: color 0.3s;
}

.site-nav a:hover {
    border: 2px solid #00aae8;
    border-radius: 5px;
    padding: 5px 10px;
}
.gallery {
    margin: 0;
    padding: 0;
}
.bgimg {
    text-align: center;
    padding: auto;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0; 
}
#home {
    background: url(new_pics/landing.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
#landscape {
    background: url(new_pics/nav-front.png), url(new_pics/nav-back.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.audio-row {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 5;
}

.audio-item img {
    width: 100%;
    height: auto;
    cursor: pointer;
}